/*==================== GOOGLE FONT ==================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-base: "Poppins", serif;
  --font-alt: "Open Sans", sans-serif;
  --color-lightblue: #5671ff;
  --color-black: #0c0c0c;
  --color-gray: #545454;
  --color-crimson: #f5efdb;
  --color-grey: #aaaaaa;
  --color-white: #ffffff;
}

.gradient__bg {
  background: rgb(192, 202, 255);
  background: linear-gradient(
    210deg,
    rgba(192, 202, 255, 1) 0%,
    rgba(192, 202, 255, 1) 6%,
    rgba(255, 255, 255, 1) 24%,
    rgba(228, 232, 255, 1) 77%,
    rgba(209, 217, 255, 1) 84%,
    rgba(201, 211, 255, 1) 95%,
    rgba(192, 202, 255, 1) 100%
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-base);
}

.navbar .span-logo {
  font-weight: 800;
  color: var(--color-lightblue);
}

#home .text-header {
  font-weight: 700;
  font-size: 75px;
  letter-spacing: 2px;
}

#home .span-header {
  color: var(--color-lightblue);
}

#logo {
  h3 {
    color: var(--color-gray);
  }
}
